.calculator {
    /*border: 2px solid black;*/

}

.mainWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.screen {
    height: 100px;
    font-size: 400%;
    direction: rtl;
    border-radius: 5px;
    border: 2px solid black;
    margin: 5px;
}

.keyBoard {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-gap: 10px;
}

.box {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
}

.boxAC {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
}
.box0 {
    grid-column: 1 / 4;
    grid-row: 5 / 5;
}
.link {
    display: inline-block;
    text-decoration: none;
    margin: 40px;
    text-align: center;
    padding: 14px 25px;
    background: #444;
    color: #fff;
    font-size: 150%;
}


.history {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}
.history1 {
    display: flex;
    flex-direction: column-reverse;
    border: 1px solid black;
    align-items: center;
}

.historyList {
    border: 1px solid black;
}
.deleteAll {
    border: 1px solid black;
    text-align: center;
    padding: 14px 25px;
    background: #444;
    color: #fff;
    font-size: 100%;
}
.ul {
    list-style: none;
    width: 300px;
    margin: 0px;
    padding: 0px;
    margin-top: 50px;
}
.expression {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}
.item {
    font-size: 150%;
}
.x {
    right: 0px;
    font-size: 200%;
    color: red;
    cursor: pointer;
}



